* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.calculator-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.btn {
  width: 80px;
  height: 34px;
  border: 1px solid #d7d7d7;
  border-radius: 6px;
}

.btn.grey:hover {
  background: #cacaca;
}

.btn.orange {
  background: orange;
}

.btn.orange:hover {
  background: #fc8c19;
}

.btn.wide {
  width: 50%;
}

.btn-operator {
  background: rgb(250 182 58);
}

.buttons-container {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.btn-zero {
  grid-column: span 2;
  display: flex;
  width: 100%;
  padding-top: 6px;
  padding-left: 77px;
}

.display {
  grid-area: result;
  background: #545454;
  color: #fff;
  height: 44px;
  border-radius: 6px;
  text-align: end;
  padding-right: 10px;
  padding-top: 13px;
  width: 329px;
  margin-bottom: 4px;
}

.container-rows {
  display: flex;
  gap: 3px;
}
